Repository Azure/aks-engine, pull requests merged in 2021-01, with the labels that each got.

#4145 fix: fix that kubeproxy cannot parse featuregates
  staging/provisioning/windows/kubeproxystart.ps1
Labels: windows

#4134 chore: Use signed scripts v0.0.8 for Windows deployments
  pkg/api/const.go
  vhd/packer/configure-windows-vhd.ps1
Labels: VHD, windows

#4158 chore: release Windows VHD for v0.59.0 aks-engine release
  pkg/api/azenvtypes.go
  vhd/release-notes/aks-windows/2019-datacenter-core-smalldisk-17763.1637.210111.txt
Labels: VHD, windows

#4162 chore: Use signed scripts package 0.0.9 on Windows nodes
  pkg/api/const.go
  vhd/packer/configure-windows-vhd.ps1
Labels: VHD, windows

#4164 chore: Add k8s 1.20.0 support
  pkg/api/common/versions.go
  pkg/api/k8s_versions.go
Labels: aks, windows

#4168 chore: install Jan 2021 security updates in Windows VHD
  vhd/packer/configure-windows-vhd.ps1
Labels: VHD, windows

#4163 chore: Add windowsnodelabelsync.ps1
  staging/provisioning/windows/windowsnodelabelsync.ps1
Labels: windows

#4184 chore: updating windows provisioing scripts to v0.0.10
  docs/topics/windows-provisioning-scripts-release-notes.md
  pkg/api/const.go
  vhd/packer/configure-windows-vhd.ps1
Labels: VHD, windows

#4206 fix: use curl.exe and add retries when downloading artifacts to Windo…
  vhd/packer/configure-windows-vhd.ps1
Labels: VHD, windows
