Repository Azure/aks-engine, pull requests merged in 2021-02, with the labels that each got.

#4218 chore: update aks-engine VHD Windows VHD
  pkg/api/azenvtypes.go
  vhd/release-notes/aks-windows/2109-datacenter-core-smalldisk-17763.1697.210129.txt
Labels: VHD, windows

#4105 ci: refactor Windows VHD build pipeline updates
  .pipelines/vhd-build-publish-windows.yaml
  .pipelines/vhd-builder-windows-template.yaml
  .pipelines/vhd-builder-windows.yaml
  .pipelines/vhd-publish-template.yaml
  test/e2e/engine/template.go
  vhd/packer/init-variables.sh
  vhd/packer/windows-vhd-builder.json
  vhd/publishing/add-image-version-to-sku.sh
  vhd/publishing/new-sku-and-add-image-version.sh
  vhd/publishing/new-windows-sku.sh
Labels: windows

#4229 chore: update windows dockeree version to 19.03.14
  pkg/api/const.go
  vhd/packer/configure-windows-vhd.ps1
Labels: VHD, windows

#4048 feat: support configurable `tags` and `enableMultipleStandardLoadBalancers`
  docs/topics/clusterdefinitions.md
  parts/k8s/cloud-init/artifacts/cse_config.sh
  pkg/api/converterfromapi.go
  pkg/api/convertertoapi.go
  pkg/api/types.go
  pkg/api/types_test.go
  pkg/api/vlabs/types.go
  pkg/api/vlabs/validate.go
  pkg/api/vlabs/validate_test.go
  pkg/engine/templates_generated.go
Labels: size/L

#4275 chore: deprecate rescheduler addon
  cmd/generate_test.go
  docs/topics/azure-stack.md
  docs/topics/clusterdefinitions.md
  examples/e2e-tests/kubernetes/flatcar/flatcar.json
  examples/e2e-tests/kubernetes/kubernetes-config/addons-disabled.json
  examples/e2e-tests/kubernetes/kubernetes-config/addons-enabled.json
  examples/kubernetes-config/kubernetes-rescheduler.json
  examples/kubernetes-vmss-master/customvnet.json
  examples/vnet/kubernetes-master-vmss.json
  parts/k8s/addons/kube-rescheduler.yaml
  pkg/api/addons.go
  pkg/api/addons_test.go
  pkg/api/common/const.go
  pkg/api/const.go
  pkg/api/defaults_test.go
  pkg/api/k8s_versions.go
  pkg/api/types.go
  pkg/api/types_test.go
  pkg/api/vlabs/validate.go
  pkg/api/vlabs/validate_test.go
  pkg/engine/artifacts.go
  pkg/engine/artifacts_test.go
  pkg/engine/const.go
  pkg/engine/templates_generated.go
  pkg/engine/testdata/addons/kubernetes.json
  pkg/engine/testdata/key-vault-certs/kubernetes.json
  test/e2e/kubernetes/kubernetes_test.go
  vhd/packer/install-dependencies.sh
Labels: approved, lgtm

#4269 chore: remove addon-resizer from VHD
  vhd/packer/install-dependencies.sh
Labels: approved, lgtm
