Repository Azure/aks-engine, pull requests merged in 2021-03, with the labels that each got.

#4176 feat: allow creation of dualstack Windows clusters
  examples/dualstack/README.md
  examples/dualstack/kubernetes-windows.json
  pkg/api/vlabs/validate.go
  pkg/api/vlabs/validate_test.go
  staging/provisioning/windows/windowsnodereset.ps1
Labels: windows

#4298 test: Add Feb security patch
  vhd/packer/configure-windows-vhd.ps1
  vhd/packer/windows-2019-vars.json
Labels: windows

#4226 docs: Update AAD documentation for Azure Stack and UI changes to Azure
  docs/topics/aad.md
Labels: area/docs

#4314 chore: update windows provisioing scripts to v0.0.11
  docs/topics/windows-provisioning-scripts-release-notes.md
  pkg/api/const.go
  vhd/packer/configure-windows-vhd.ps1
Labels: windows

#4319 chore: update azurecni to 1.2.7
  pkg/api/const.go
  vhd/packer/configure-windows-vhd.ps1
  vhd/packer/install-dependencies.sh
Labels: windows

#4322 chore: March 2021 patch updates for Windows
  pkg/api/azenvtypes.go
  vhd/packer/configure-windows-vhd.ps1
  vhd/packer/windows-2019-vars.json
Labels: windows

#4315 chore: Hsn fix for 2c+
  parts/k8s/kuberneteswindowssetup.ps1
  pkg/engine/templates_generated.go
  vhd/packer/configure-windows-vhd.ps1
Labels: windows

#3833 feat: Add ACL rules for Windows
  parts/k8s/windowsazurecnifunc.ps1
  pkg/engine/templates_generated.go
Labels: lgtm, size/M, windows

#4331 chore: Adding mcr.microsoft.com/oss/kubernetes/pause:3.4.1 to Windows VHD
  vhd/packer/configure-windows-vhd.ps1
Labels: windows

#4337 chore: Update default Windows VHDs to include 3B patches
  pkg/api/azenvtypes.go
  vhd/release-notes/aks-windows/2019-datacenter-core-smalldisk-17763.1817.210317.txt
Labels: VHD, windows

#4282 fix: disable docker when containerD is specified
  parts/k8s/kuberneteswindowssetup.ps1
  parts/k8s/windowskubeletfunc.ps1
  pkg/engine/templates_generated.go
  vhd/packer/configure-windows-vhd.ps1
Labels: windows

#4344 fix: specify correct pause image in containerd config for Windows 20h2
  parts/k8s/windowscontainerdfunc.ps1
  pkg/engine/templates_generated.go
Labels: windows

#4219 feat: Use NSSM for containerd and collect containerd logs
  parts/k8s/containerdtemplate.toml
  parts/k8s/kuberneteswindowssetup.ps1
  parts/k8s/windowscontainerdfunc.ps1
  pkg/engine/templates_generated.go
  scripts/collect-windows-logs.ps1
  staging/provisioning/windows/windowslogscleanup.ps1
  vhd/packer/configure-windows-vhd.ps1
Labels: windows

#4327 fix: Checking return code of curl.exe on Windows
  parts/k8s/kuberneteswindowsfunctions.ps1
  pkg/engine/templates_generated.go
  vhd/packer/configure-windows-vhd.ps1
Labels: windows

#4345 chore: Update Windows provisioning scripts to 0.0.12
  docs/topics/windows-provisioning-scripts-release-notes.md
  pkg/api/const.go
  vhd/packer/configure-windows-vhd.ps1
Labels: VHD, windows
